In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from datetime import datetime
from sklearn.metrics import mean_squared_error
from math import sqrt

from pandas.plotting import register_matplotlib_converters

import statsmodels.api as sm
from statsmodels.tsa.api import Holt

import env

In [2]:
df = pd.read_csv('saas.csv')

In [3]:
df

       Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0          2014-01-31      1000000     5000000                0.0     0.0
1          2014-01-31      1000001     5000001                2.0    10.0
2          2014-01-31      1000002     5000002                0.0     0.0
3          2014-01-31      1000003     5000003                0.0     0.0
4          2014-01-31      1000004     5000004                1.0     5.0
...               ...          ...         ...                ...     ...
790453     2017-12-31      1029395     5790453                0.0     0.0
790454     2017-12-31      1029396     5790454                0.0     0.0
790455     2017-12-31      1029397     5790455                3.0    15.0
790456     2017-12-31      1029398     5790456                0.0     0.0
790457     2017-12-31      1029399     5790457                0.0     0.0

[790458 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790458 entries, 0 to 790457
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month_Invoiced     790458 non-null  object
 1   Customer_Id        790458 non-null  int64
 2   Invoice_Id         790458 non-null  int64
 3   Subscription_Type  790458 non-null  float64
 4   Amount             790458 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 30.2+ MB

In [5]:
df.Customer_Id.nunique(), df.Invoice_Id.nunique(), df.Subscription_Type.nunique(), df.Month_Invoiced.nunique()

(29400, 790458, 5, 48)

In [6]:
df.Month_Invoiced.min(), df.Month_Invoiced.max()

('2014-01-31', '2017-12-31')

In [7]:
df.Month_Invoiced.dtypes

dtype('O')

In [8]:
df['Month_Invoiced'] = pd.to_datetime(df.Month_Invoiced)

In [9]:
df.set_index('Month_Invoiced').sort_index()

                Customer_Id  Invoice_Id  Subscription_Type  Amount
Month_Invoiced
2014-01-31          1000000     5000000                0.0     0.0
2014-01-31          1000001     5000001                2.0    10.0
2014-01-31          1000002     5000002                0.0     0.0
2014-01-31          1000003     5000003                0.0     0.0
2014-01-31          1000004     5000004                1.0     5.0
...                     ...         ...                ...     ...
2017-12-31          1029395     5790453                0.0     0.0
2017-12-31          1029396     5790454                0.0     0.0
2017-12-31          1029397     5790455                3.0    15.0
2017-12-31          1029398     5790456                0.0     0.0
2017-12-31          1029399     5790457                0.0     0.0

[790458 rows x 4 columns]