# Exercises

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from vega_datasets import data

In [33]:
store_items = pd.read_csv("whole_df.csv")

In [34]:
store_items

,Unnamed: 0,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,sale_amount,sale_date,sale_id,store_address,store_city,store_id,store_state,store_zipcode
0,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
2,2,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
3,3,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
4,4,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912995,912995,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,63.0,"Wed, 27 Dec 2017 00:00:00 GMT",912996,8503 NW Military Hwy,San Antonio,10,TX,78231
912996,912996,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,59.0,"Thu, 28 Dec 2017 00:00:00 GMT",912997,8503 NW Military Hwy,San Antonio,10,TX,78231
912997,912997,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,8503 NW Military Hwy,San Antonio,10,TX,78231
912998,912998,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,8503 NW Military Hwy,San Antonio,10,TX,78231
912999,912999,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,8503 NW Military Hwy,San Antonio,10,TX,78231